{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Essay question
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 35%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
{% endblock %}

{% block content %}
    <p>
        Please write a short essay about <strong>a typical day in your life</strong>.
        The page will automatically submit when the time is up.
    </p>
    {% formfields %}

{% endblock %}
